body{
  background: #02010a;
  font-family: 'Dancing Script', cursive;
 }
 #contenido{
   width: 900px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   animation: Slidein 3s;
 }
 header{
   background: #5b7989;
   border-radius: 10px 10px 0px 0px;
   -moz-border-radius: 10px 10px 0px 0px;
   -webkit-border-radius: 10px 10px 0px 0px;
   display: flex;
   flex-flow: row wrap;
   padding: 15px 0;
   padding-left: 25px;
 }
 header h1{
   color: white;
   text-shadow: 2px 2px 1px #02010a;
 }
 #cabecera{
 width:70%
 }
 #menucabecera{
 width:30%;
 margin-top:30px;
 }
 #menucabecera a{
   color: white;
   margin-top: 50%;
   padding: 2% 4% 0 0;
   }
   .actual{
     text-decoration: none;
   }
#galeria{
     display: flex;
     flex-flow: row wrap;
     background: #d5c75f;
   }
#galeria div{
  width: 33.33%;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}
div img{
  width: 80%;
}
   footer{
     background: #C6d5c5;
     border-radius: 0px 0px 10px 10px;
     -moz-border-radius: 0px 0px 10px 10px;
     -webkit-border-radius: 0px 0px 10px 10px;
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     align-items: center;
     align-content: space-around;
   }
   .logos{
     width: 8%;
   }
   footer div{
     width: 25%;
   }
.imagen1{
  -webkit-filter: blur(10px);
  filter: blur(10px);
}
.imagen2, .imagen4, .imagen6{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.imagen3{
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
}
@media only screen and (max-width:900px){
  #contenido{
    width: 100%;
  }
  #cabecera{
    width: 100%;
    text-align: center;
  }
  #menucabecera{
    width: 100%;
    text-align: center;
  }
  #galeria div{
    width: 100%;
  }
  #Contacto{
    width:100%;
    text-align: left;
  }
  #terminos{
    width:100%;
  }
  #redes_sociales{
    width:100%;
  }
  #derechos{
    width:100%;
  }
}
@-webkit-keyframes Slidein{
  0% {
        margin-top: 150%;
    }
    60% {
        margin-top: -5%;
    }
    100% {
        margin-top: 0%;
    }
}
